.albumBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 10px;
  }

  .albumFotoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .albumFotoBoxIndividual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  }

  .albumFoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

  }